body{
    padding: 0;
    margin: 0;
    background-color: #FFF1F2;
}
h1{
    font-family: 'Dancing Script';
}

/* Main Content */
.main-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    z-index: 2;
    position: relative;
    overflow-x: hidden;
    animation: fadeUp 2s ease-out;
}
.main-content img { 
    width: 80%;
    z-index: 2;
    max-width: 450px;
    margin: -20px;
    filter: drop-shadow(5px 5px 0px #F9A8D4);
    animation: fadeUp 2s ease-out;
}
.main-content h1 {
    margin-bottom: -10px;
    width: 45%;
    z-index: 2;
    color: #4B5563;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: 1000;
    animation: fadeUp 2s ease-out;
    margin-top: -10px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.main-content h2 {
    color: #6B7280;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    font-weight: 750;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin-top: 0px;
    padding-top: 10px;
    animation: fadeUp 2s ease-out;
}
.main-content .btn-container {
    z-index: 2;
}
.main-content .btn {
    background-color: #ff6f61;
    padding: 10px;
    width: max-content;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
    animation: fadeUp 2s ease-out;
    transition: all 0.5s ease;
    pointer-events: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    color: white;
    animation: fadeUp 3s ease-out;
}
.main-content .btn:hover {
    background-color: white;
    border: 2px solid #ff6f61;
    color: #ff6f61;
}

.container-flowers {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}
.flowers {
    display: flex;
    position: relative;
}
.flowers span img{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 4px;
    filter: drop-shadow(0px 0px 5px rgb(255, 0, 191));
    animation: flowers-up 30s linear infinite;
    animation-duration: calc(155s / var(--i))
}
.flowers span img:nth-child(even) {
    filter: drop-shadow(0px 0px 5px red);
}

/* Hadiah */
.hadiah-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    animation: fadeUp 2s ease-out;
}
.hadiah-page h1{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: 1000;
    color: #4B5563;
    z-index: 2;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.main-hadiah {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    align-self: center;
}
.main-hadiah a{
    text-decoration: none;
    color: #FFF1F2;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border-radius: 20px;
    backdrop-filter: brightness(60%);
    transition: all 0.5s ease;
    z-index: 2;
}
.main-hadiah div {
    z-index: 2;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    height: 500px;
    text-align: center;
    transition: all 0.5s ease;
}
.hadiah-letter{
    background-image: url('img/webp/surat.webp');
    background-size: cover;
    background-position: center;
}
.hadiah-music {
    background-image: url('img/webp/musik.webp');
    background-size: cover;
    background-position: center;
}
.hadiah-memory {
    background-image: url('img/webp/kenangan.webp');
    background-size: cover;
    background-position: center;
}
.main-hadiah div:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.main-hadiah a:hover {
    color: #ff6f61;
    backdrop-filter: brightness(20%);
}
.hadiah-page span img{
    animation: flowers-down 30s linear infinite;
    animation-duration: calc(155s / var(--i))
}
.hadiah-page .btn {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 16px;
    margin: 20px;
    background-color: #F9A8D4;
    border-radius: 20px;
    z-index: 2;
    border: 1px solid transparent;
    transition: all ease 0.5s;
}
.hadiah-page .btn:hover {
    background-color: white;
    border-radius: 10px;
    border: 1px solid #F9A8D4;
    color: #F9A8D4;
}

/* Surat */
.main-surat {
    color: #4B5563;
    max-height: 100vh !important;
    position: relative;
    padding-bottom: 0;
    max-width: 100%;
    animation: fadeUp 2s ease-out;
}
.surat {
    background-color: #fffdf8;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 3px solid #f3d5d8;
}
.main-surat h1{
    font-family: 'Dancing script';
    font-size: 42px;
    text-align: center;
}
    .main-surat h2{
        font-family: 'Merriweather';
    }
.isi-surat-1 {
    align-items: flex-start;
    display: flex;
    justify-self: center;
    justify-items: center;
    justify-content: center;
    padding: 30px 30px;
    gap: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.isi-surat-2 {
    width: 90%;
    justify-self: center;
    margin-top: -50px;
    padding-bottom: 30px;
}
.surat .foto-surat{
    width: 35%;
    align-self: center;
}
.foto-surat img{
    width: 100%;
    transform: rotate(-5deg);
}
.surat p{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-bottom: 16px;
}
.teks-surat {
    height: max-content;
    width: 55%;
    margin: 0;
    padding: 0;
}
.teks-surat p:last-child {
    margin-bottom: 0 !important;
}
.flower-surat{
    width: 50px;
    position: absolute;
    z-index: 1;
}
.flower-surat img{
    width: 100%;
}
.flower-surat-1{
    top: 80px;
    left: 10px;
    animation: flowerRotate infinite 10s;
}
.flower-surat-2{
    top: 80px;
    right: 10px;
    animation: flowerRotate infinite 10s;
}
.flower-surat-3{
    bottom: 0;
    left: 10px;
    animation: flowerRotate infinite 10s;
}
.flower-surat-4{
    bottom: 0;
    right: 10px;
    animation: flowerRotate infinite 10s;
}
.surat-page .btn{
    text-decoration: none;
    color: #4B5563;
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 5px;
    font-size: 16px;
    font-family: 'Inter';
    border-radius: 10px;
    transition: all 0.5s ease;
    border: 1px solid #4B5563;
}
.surat-page .btn:hover{
    background-color: #f3d5d8;
    padding: 10px;
    top: 10px;
    color: #ff6f61;
    border: 1px solid #ff6f61;
}

/* Musik */
.musik-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    animation: fadeUp 0.5s ease;
}
.musik-page h1{
    text-align: center;
    font-size: 56px;
    position: absolute;
    top: 2%;
    left: 38%;
}
.player{
    border-radius: 20px;
    transition: all 0.5s ease;
}
.musik-page .player{
    display: flex;
    align-self: center;
    background-color: #485d80;
    width: 55%;
    justify-content: space-between;
    min-height: 60vh;
}
.player #cover{
    background-color: transparent;
    width: 350px;
    animation: infinite 30s rotate;
    align-self: center;
    animation-play-state: paused;
    transition: opacity .3s;
}
.player #cover.playing {
    animation-play-state: running;
}
#cover.fade{
    opacity: 0;
}
.player .container-cover {
    display: flex;
    border-radius: 20px 0px 0px 20px;
    background-image: url(img/webp/bg-pink.webp);
    background-position: center;
    background-size: cover;
}
.player .music{
    align-self: center;
    padding: 20px;
}
.player .music .music-title {
    height: 150px;
}
.player h2{
    margin-left: 35px;
    font-family: 'Merriweather';
    font-size: 42px;
    margin-bottom: -20px;
    margin-top: -20px;
}
.player p{
    margin-left: 35px;
    font-family: 'Montserrat';
    font-size: 24px;
}
.music .time{
    display: flex;
    justify-content: center;
}
.music .time div{
    width: 30px;
    font-family: 'Montserrat';
    color: black;
    font-weight: 500;
}
.music .time input{
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
.music .controls{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 5px;
}
.controls img{
    width: 20px;
}
.controls button{
    background-color: transparent;
    border: 0;
    color: black;
}
.player h3{
    font-family: 'Cormorant Upright';
    font-style: italic;
    font-size: 32px;
    width: 80%;
    justify-self: center;
    text-align: center;
}
#progress {
    accent-color: black;
}
.musik-page .btn{
    text-decoration: none;
    font-family: "Montserrat";
    color: #485d80;
    background-color: #F9A8D4;
    width: max-content;
    padding: 10px;
    justify-content: center;
    align-self: center;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all ease 0.3s;
}
.musik-page .btn:hover{
    background-color: transparent;
    border: 1px solid #485d80;
}

/* Kenangan */
.memory-page {
    width: 100%;
    animation: fadeUp 0.5s ease;
}
.memory-page h1{
    font-size: 56px;
    text-align: center;
}
.memory-page h3{
    font-family: 'Montserrat';
    border-bottom: 2px solid #4B5563;
    padding-left: 10px;
    color: #4B5563;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 24px;
    font-style: italic;
}
.main-memory{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}
.memory-container{
    margin: 10px;
    width: 90%;
    padding: 20px;
    background-color: #F9A8D4;
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 5px 0px #485d80;
}
.memory-item-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 300px;
    gap: 20px;
}
.memory-item-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
}
.beforePKL .memory-item-container{
    grid-template-columns: repeat(4, 1fr);
}
.memory-item{
    cursor: pointer;
    transition: all ease 0.3s;
}
.memory-item:hover{
    scale: 1.05;
}
.memory-page .btn{
    text-decoration: none;
    color: #f3d5d8;
    background-color: #485d80;
    border: 1px solid transparent;
    padding: 10px;
    margin: 10px;
    justify-self: center;
    font-family: 'Montserrat';
    border-radius: 20px;
    transition: all ease 0.3s;
}
.memory-page .btn:hover{
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid #485d80;
    color: #485d80;
}
.lightbox{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.85);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;

    transition: .3s ease;
    z-index: 9999;
}
.lightbox.show{
    opacity: 1;
    visibility: visible;
}
.lightbox img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 20px;
    transform: scale(.8);
    transition: .3s;
}
.lightbox.show img{
    transform: scale(1);
}
.close{
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 42px;
    cursor: pointer;
    user-select: none;
}
.prev,.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(255,255,255,.2);
    color: white;
    font-size: 35px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}
.prev:hover,
.next:hover{
    background: rgba(255,255,255,.4);
}
.prev{
    left: 30px;
}
.next{
    right: 30px;
}
.fade-out {
    animation: fadeDown 0.5s ease forwards;
}

/* Animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeDown {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}
@keyframes flowers-up {
    0% {
        transform: translateY(var(--page-height)) scale(0.5) rotate(0deg);
    }
    100% {
        transform: translateY(-50px) scale(1) rotate(360deg);
    }
}
@keyframes flowers-down {
    0% {
        transform: translateY(-50px) scale(0.5) rotate(0deg);
    }
    100% {
        transform: translateY(var(--page-height)) scale(1) rotate(360deg);
    }
}
@keyframes flowerRotate {
    0% {
        transform: rotate(0deg) scale(0.5);
    }
    50% {
        transform: rotate(200deg) scale(0.8);
    }
    100% {
        transform: rotate(0deg) scale(0.5);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);    
    }
}







@media (max-width: 767px) {
    .main-content h1 {
        width: 80%;
    }

    /* Hadiah */
    .hadiah-page {
        height: max-content;
        margin: 20px;
    }
    .main-hadiah {
        flex-direction: column;
    }
    .main-hadiah div{
        height: 400px;
    }
    .main-hadiah h1{
        font-size: 38px;
    }

    /* surat */
    .main-surat {
        padding-bottom: 40px !important;
        min-height: max-content !important;
    }
    .main-surat p{
        font-size: 14px;
    }
    .main-surat h1{
        font-size: 38px;
    }
    .isi-surat-1 .foto-surat{
        width: 100%;
    }
    .isi-surat-1 {
        flex-direction: column;
    }
    .teks-surat{
        width: 100%;
        margin-top: -80px;
    }
    .isi-surat-2 {
        width: 80%;
        margin: 0;
    }
    .main-surat .btn{
        position: relative;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        justify-self: center;
    }
    .flower-surat{
        display: none;
    }

    /* musik */
    .musik-page{
        padding: 20px;
        padding-top: 0;
    }
    .musik-page h1{
        position: relative;
        max-width: 100vh;
        top: 0;
        left: 0;
    }
    .player{
        flex-direction: column;
        width: 90% !important;
        justify-content: center;
        align-self: center;
        align-content: center;
        height: max-content;
        padding: 0;
    }
    .player #cover{
        width: 250px;
        align-self: center;
        align-items: center;
    }
    .player .container-cover{
        display: flex;
        justify-content: center;
        border-radius: 20px 20px 0px 0px;
        padding: 10px;
    }
    .player h2{
        font-size: 36px;
        margin: 0;
    }
    .player p{
        font-size: 20px;
        margin: 0;
    }
    .music .time input{
        width: 80%;
    }

    /* memory */
        
    .beforePKL .memory-item-container{
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    }
    .memory-page h1{
        font-size: 36px;
}




